﻿@model Blogs.Models.AdModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RecordModel</h4>
    <hr />
    @if (Model.Image != null && Model.Image.Length > 0)
    {
        <img style="width: 50%; height: 50%" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" />
    }
    <br />
    @if (!string.IsNullOrWhiteSpace(Model.ImagePath))
    {
        <img style="width: 50%; height: 50%" src="@Url.Content(Model.ImagePath)" />
    }
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DatePublished)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DatePublished)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Author)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Author)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Title)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Contacts)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Contacts)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Price)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Content)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Content)
    </dd>
</dl>

    <table id="commentsTable" class="table">
        <tbody>
            @foreach (var item in Model.Comments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <div><input type="button" id="addComment" class="btn-primary" value="Comment" /></div>
    <div id="commentForm" style="display: none">
        <div><textarea id="commentText" class="form-control"></textarea></div>
        <div><input type="button" id="sendComment" class="btn-primary" value="Send" /></div>
    </div>
    <br />
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    <script>

        $('#addComment').click(function () {
            $('#commentForm').val('');
            $('#commentForm').show();
            $('#addComment').hide();
        });

        $('#sendComment').click(function () {

            var comment = $('#commentText').val();
            var recordId = '@Model.Id';
            $.ajax({
                url: '@Url.Action("AddComment", "Ad")',
                method: 'POST',
                data: { 'comment': comment, 'recordId': recordId },
                dataType: 'JSON',
                error: function (data) {
                    console.log(data);
                    alert('Error ' + data.status + "\n" + data.responseText);
                },
                success: function (data) {
                    $('#commentForm').hide();
                    $('#addComment').show();
                    var authorCell = "<td>" + data.authorName + "</td>";
                    var createdOnCell = "<td>" + data.createdOn + "</td>";
                    var content = "<td colspan='2'>" + data.content + "</td>";
                    var newRow = "<tr>" + authorCell + createdOnCell + "</tr>" + "<tr>" + content + "</tr>";
                    $('#commentsTable tbody').append(newRow);
                }
            });
        });

    </script>
}
