﻿@model AdIndexModel

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Page" value="@Model.Page" />
            <div class="form-group">
                <label asp-for="SearchKey" class="control-label"></label>
                <input asp-for="SearchKey" class="form-control" value="@Model.SearchKey" />
                <span asp-validation-for="SearchKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" value="@Model.Author" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" value="@Model.Category" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceFrom" class="control-label"></label>
                <input asp-for="PriceFrom" class="form-control" value="@Model.PriceFrom" />
                <span asp-validation-for="PriceFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceTo" class="control-label"></label>
                <input asp-for="PriceTo" class="form-control" value="@Model.PriceTo" />
                <span asp-validation-for="PriceTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <tbody>
        @foreach (var item in Model.Ads)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePublished)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contacts)
                </td>
                <td>
                    <a asp-action="Details" asp-route-recordId="@item.Id">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentPreview)
                </td>
                <td id="likesCount-@item.Id">
                    Кол-во лайков
                    @Html.DisplayFor(modelItem => item.Up)
                </td>
                <td>
                    <input type="button" value="Поднять объявление" onclick="upTime(@item.Id)" />
                </td>
                <td>
                    <input type="button" value="Лайк" onclick="up('@item.Id')" />
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PagingModel.HasPreviousPage)
{
    @Html.ActionLink("<< Назад", "Index", "Ad",
        new AdIndexModel()
        {
            Author = Model.Author,
            SearchKey = Model.SearchKey,
            DateFrom = Model.UpTime,
            DateTo = Model.DateTo,
            PriceFrom = Model.PriceFrom,
            PriceTo = Model.PriceTo,
            Category = Model.Category,
            Page = Model.Page - 1
        })
}

<b>@Model.Page</b>

@if (Model.PagingModel.HasNextPage)
{
    @Html.ActionLink("Вперед >>", "Index", "Ad",
        new AdIndexModel()
        {
            Author = Model.Author,
            SearchKey = Model.SearchKey,
            DateFrom = Model.UpTime,
            DateTo = Model.DateTo,
            PriceFrom = Model.PriceFrom,
            PriceTo = Model.PriceTo,
            Category = Model.Category,
            Page = Model.Page + 1
        })
}
@section Scripts
{
    <script>

        function up(recordId) {
            $.ajax({
                url: '@Url.Action("UpAjax", "Ad")',
                method: 'POST',
                data: { 'recordId': recordId },
                error: function(data) {
                    console.log(data);
                    alert('Error ' + data.status + "\n" + data.responseText);
                },
                success: function(data) {
                    $('#likesCount-' + recordId).html(data);
                }
            });
        }
    </script>
}
<script>
        function upTime(recordId) {
            $.ajax({
                url: '@Url.Action("Index", "Ad")',
                method: 'POST',
                data: { 'recordId': recordId },
                error: function(data) {
                    console.log(data);
                    alert('Error ' + data.status + "\n" + data.responseText);
                },
                success: function(data) {
                    $('Обновлено-' + recordId).html(data);
                }
            });
        }

</script>
